body {
  font-family:'Courier New', Courier, monospace
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #8f8f8f;
  color: white;
}

.present {
  background-color: #4444d3;
  color: white;
}

.future {
  background-color: #2ba1a1;
  color: white;
}

.saveBtn {
  border-left: 1px solid rgb(138, 138, 138);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #8d0f0f;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
